/**
 * _position.scss
 * Position helpers
 */


 .u-positionAbsolute { position: absolute; }
 .u-positionFixed { position: fixed; }
 .u-positionRelative { position: relative; }
 .u-positionStatic { position: static; }
 .u-positionSticky { position: sticky; top: 3rem; }